LOG_LEVEL=trace

JWT_TYPE=Bearer
JWT_EXPIRED=1m
JWT_REFRESH_EXPIRED=1440h
JWT_RSA_PUBLIC="-----BEGIN PUBLIC KEY-----\nMIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQCSS7LDyITHBeaiiU/p1sjiv6XI\naIxx2ULdjCEeN7/VPh11oJXbkm4Qc0Cbb0xpH8nbn6hCIw2tfc7mOXJHM3lOWYYd\nD05KKV1mhdHiZWzRLm7kVsNF3JxWULOhN1ch9QOhRxof8twWxS2t1/NWgboCeKwI\nQEEWRNoAca8Vbt0K7wIDAQAB\n-----END PUBLIC KEY-----\n"
JWT_RSA_PRIVATE="-----BEGIN RSA PRIVATE KEY-----\nMIICXQIBAAKBgQCSS7LDyITHBeaiiU/p1sjiv6XIaIxx2ULdjCEeN7/VPh11oJXb\nkm4Qc0Cbb0xpH8nbn6hCIw2tfc7mOXJHM3lOWYYdD05KKV1mhdHiZWzRLm7kVsNF\n3JxWULOhN1ch9QOhRxof8twWxS2t1/NWgboCeKwIQEEWRNoAca8Vbt0K7wIDAQAB\nAoGAVZCWxvHxzuIBqhD7v34TUqPa1+NmOXRkKmY6PI1I0vUYj+LTo2/6lf6CzCaF\nn3qrOpwf8kbESjOqHnd9Am31xV1lgiTctSJKP+trWZXN25mon0DFUbG2kiDZLmou\n1HqEgWzoscUuEr0gkZkXu4tFKhFu72q88Uk8t1YQnTp/L7kCQQDSZWi+0xr+xMBl\nrhCEGD9tJyUUmyU6uqeLnt7LWfh0FnoXi9ibHRl61wS1k/IwSOAlBENnZpDx/qoi\nYNGoc3Q1AkEAsgFxz/paT4Nt7UDb0SiIwWEDWft/XMMkZ7RfBVKjUfgBm9sy9CDK\n2FaaN2UVowD2rzMnWlm+GQofwoh5W3UfEwJAdBRbLB1Q4YswE2lr11WBePmF7c6D\nRdnBoriud0dWWsYj6mXPxhTSAAItqPjNQHKUqBeoEJ54DevRdlIwml3ImQJBALFR\nhxJqjXQPtH1W0qH0Aua/wRrt0N2S9rznjJA81bxdlRywqn1N/UKsYks0Qu1xlErK\nZjU2mItQ7npWgK1+akkCQQCvh6AUsUuMLdSYw+OMdCYwqG8IwnU2WRZYh19uLu5U\nMcrgJUM/IqRsuFp5jqjHqBxTKudjUYo6v5SNLbeo/szn\n-----END RSA PRIVATE KEY-----\n"

OTP_SERVICE_MOCK=true